Our blog has <%= Article.public_count %> articles and counting!
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <tbody>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.body %></td>
          <td><%= article.status %></td>
          <td>
            <%= link_to "Show Article", article_path(article) , class:"btn btn-primary"%>
            <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-secondary"%>
            <%= link_to "Delete Article", article_path(article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class:"btn btn-danger" %>
          </td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
